In [2]:
import pandas as pd
import numpy as np
pd.DataFrame({"a":[1,2,3]})

   a
0  1
1  2
2  3

In [4]:
pd.Series([1,2,3])
dates = pd.date_range(start='2021-11-01', end='2021-11-10', freq='D')
df = pd.DataFrame(np.random.randn(10,5), index=dates, columns=list('ABCDE'))
df.dtypes
df.iloc[5:10, [0,1]]  # 不包含末端
# df.loc["P7nhGaeqzg": "yORQMYx1Gm", ['A', 'B']] # 包含末端
df.iloc[:, [0,1]][df['A'] > 1]
# pd.DataFrame()

                   A         B
2021-11-02  1.171477 -1.050038
2021-11-08  1.412530  0.308439

In [5]:
df.describe()

               A          B          C          D          E
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean   -0.106354  -0.012197  -0.042187   0.428043  -0.541357
std     1.139558   0.970569   0.812874   0.649690   0.750164
min    -1.993546  -1.139392  -1.925660  -0.451647  -1.964281
25%    -1.037294  -0.707908  -0.375108   0.098849  -0.771878
50%     0.164083  -0.321026   0.131139   0.295022  -0.349020
75%     0.488899   0.870710   0.509014   0.812395  -0.065421
max     1.412530   1.478901   0.813283   1.478763   0.269963

In [6]:
# 選單欄位變成series
type(df['A'])
# Row 1:3
print(df[0:3])
# 索引
# print(df.index)
print(df["20211101":"20211103"])
print(df["2021-11-01":"2021-11-03"])

                   A         B         C         D         E
2021-11-01 -1.449423 -0.739511  0.183986  1.478763 -1.630197
2021-11-02  1.171477 -1.050038 -0.323735 -0.451647 -0.195005
2021-11-03 -1.993546  1.478901 -0.392233 -0.425384 -0.608215
                   A         B         C         D         E
2021-11-01 -1.449423 -0.739511  0.183986  1.478763 -1.630197
2021-11-02  1.171477 -1.050038 -0.323735 -0.451647 -0.195005
2021-11-03 -1.993546  1.478901 -0.392233 -0.425384 -0.608215
                   A         B         C         D         E
2021-11-01 -1.449423 -0.739511  0.183986  1.478763 -1.630197
2021-11-02  1.171477 -1.050038 -0.323735 -0.451647 -0.195005
2021-11-03 -1.993546  1.478901 -0.392233 -0.425384 -0.608215

In [7]:
# 使用index/ columns名稱搜尋
# 都會包含最後值
df.loc["20211101"]
df.loc[:, ["A", "B"]]
df.loc["20211101":"20211103", ["A", "B"]]
df.at['20211101', 'A']

-1.449422610890066

In [8]:
# 使用位子搜尋
# Row 3
df.iloc[3]
# 不包含最後
# row 3,4 column 0, 1
df.iloc[3:5, 0:2]
df.iloc[1:3, :]

                   A         B         C         D         E
2021-11-02  1.171477 -1.050038 -0.323735 -0.451647 -0.195005
2021-11-03 -1.993546  1.478901 -0.392233 -0.425384 -0.608215

In [11]:
# Boolean indexing
df[df['A']> 0]
df[df > 0]

                   A         B         C         D         E
2021-11-01       NaN       NaN  0.183986  1.478763       NaN
2021-11-02  1.171477       NaN       NaN       NaN       NaN
2021-11-03       NaN  1.478901       NaN       NaN       NaN
2021-11-04  0.493061       NaN  0.078292  0.833280  0.269963
2021-11-05  0.476414       NaN  0.812061  0.166180       NaN
2021-11-06  0.005468       NaN  0.187153  0.076405  0.260868
2021-11-07       NaN  1.216647  0.616301  0.749738       NaN
2021-11-08  1.412530  0.308439  0.813283  1.263049       NaN
2021-11-09  0.322698  1.058134       NaN  0.302759       NaN
2021-11-10       NaN       NaN       NaN  0.287284       NaN

In [14]:
df2 = df.copy()
df2['E'] = list('ABCDEABCDD')
df2[df2['E'].isin(list('AB'))]

                   A         B         C         D  E
2021-11-01 -1.449423 -0.739511  0.183986  1.478763  A
2021-11-02  1.171477 -1.050038 -0.323735 -0.451647  B
2021-11-06  0.005468 -0.504986  0.187153  0.076405  A
2021-11-07 -1.323477  1.216647  0.616301  0.749738  B

In [24]:
# Setting
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20211102", periods=6))
df['s1'] = s1
df.iat[0, 1] = -1000
# Setting by assigning with a NumPy array:
df.loc[:, "D"] = np.array([10] * len(df))

In [26]:
df1 = df.reindex(index = dates[0:5], columns=list(df.columns))

In [31]:
# 刪除任何含有NA的Row
df1.dropna(axis=0, how="any")
# 刪除任何含有NA的Column
df1.dropna(axis=1, how="any")

                   A            B         C   D         E
2021-11-01 -1.449423 -1000.000000  0.183986  10 -1.630197
2021-11-02  1.171477    -1.050038 -0.323735  10 -0.195005
2021-11-03 -1.993546     1.478901 -0.392233  10 -0.608215
2021-11-04  0.493061    -0.613098  0.078292  10  0.269963
2021-11-05  0.476414    -1.139392  0.812061  10 -0.390519

In [34]:
print(df1)
df1.fillna(value=5)

                   A            B         C   D         E   s1
2021-11-01 -1.449423 -1000.000000  0.183986  10 -1.630197  NaN
2021-11-02  1.171477    -1.050038 -0.323735  10 -0.195005  1.0
2021-11-03 -1.993546     1.478901 -0.392233  10 -0.608215  2.0
2021-11-04  0.493061    -0.613098  0.078292  10  0.269963  3.0
2021-11-05  0.476414    -1.139392  0.812061  10 -0.390519  4.0

                   A            B         C   D         E   s1
2021-11-01 -1.449423 -1000.000000  0.183986  10 -1.630197  5.0
2021-11-02  1.171477    -1.050038 -0.323735  10 -0.195005  1.0
2021-11-03 -1.993546     1.478901 -0.392233  10 -0.608215  2.0
2021-11-04  0.493061    -0.613098  0.078292  10  0.269963  3.0
2021-11-05  0.476414    -1.139392  0.812061  10 -0.390519  4.0

In [36]:
pd.isna(df1)

                A      B      C      D      E     s1
2021-11-01  False  False  False  False  False   True
2021-11-02  False  False  False  False  False  False
2021-11-03  False  False  False  False  False  False
2021-11-04  False  False  False  False  False  False
2021-11-05  False  False  False  False  False  False

In [39]:
# df.assign(ratio = lambda x: x.C / )
df1 = pd.DataFrame(
    dict(
        a=(1 , 1, 0, 1, 0 ), 
        b=(1 , 0, 0, 1, 0 ),
        c=(10, 5, 1, 5, 10),
        d=(3 , 1, 2, 1, 2 ),
    )
)
df1.groupby(['a','b']).transform('sum')['c']

0    15
1     5
2    11
3    15
4    11
Name: c, dtype: int64