In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.util.testing.makeDataFrame()
df1 = pd.DataFrame(np.random())
df2 = pd.util.testing.makeDataFrame()
df2 = df2.rename(columns={'C' : "F"})
df2.columns

Index(['A', 'B', 'F', 'D'], dtype='object')

In [31]:
df.iloc[5:10, [0,1]]  # 不包含末端
# df.loc["P7nhGaeqzg": "yORQMYx1Gm", ['A', 'B']] # 包含末端
df.iloc[:, [0,1]][df['A'] > 1]
pd.DataFrame()

                   A         B
BFL72J3Pkg  1.308266  0.778900
cLzCCihAgQ  2.464598 -0.702319
hx9ZyCww2V  1.296576  0.327940
Hj27Z6vvfj  1.821580  1.635463