In [1]:
import pandas as pd
import numpy as np
pd.DataFrame({"a":[1,2,3]})

   a
0  1
1  2
2  3

In [3]:
pd.Series([1,2,3])
dates = pd.date_range(start='2021-11-01', end='2021-11-10', freq='D')
df = pd.DataFrame(np.random.randn(10,5), index=dates, columns=list('ABCDE'))
df.dtypes
df.iloc[5:10, [0,1]]  # 不包含末端
# df.loc["P7nhGaeqzg": "yORQMYx1Gm", ['A', 'B']] # 包含末端
df.iloc[:, [0,1]][df['A'] > 1]
# pd.DataFrame()

                   A         B
2021-11-07  1.208852  0.001799
2021-11-10  2.232223 -1.250190

In [4]:
df.describe()

               A          B          C          D          E
count  10.000000  10.000000  10.000000  10.000000  10.000000
mean    0.067447   0.172757  -0.290679   0.074512  -0.037685
std     1.035905   0.776539   1.365194   1.016462   1.247876
min    -1.371568  -1.250190  -2.201028  -1.614729  -2.998706
25%    -0.327986  -0.509092  -1.363426  -0.084467  -0.258874
50%    -0.102762   0.558810  -0.086674   0.121122   0.477232
75%     0.295510   0.767396   0.613796   0.711244   0.822409
max     2.232223   0.930828   1.740762   1.699386   0.962300

In [6]:
# 選單欄位變成series
type(df['A'])
# Row 1:3
print(df[0:3])
# 索引
# print(df.index)
print(df["20211101":"20211103"])
print(df["2021-11-01":"2021-11-03"])

                   A         B         C         D         E
2021-11-01 -1.449423 -0.739511  0.183986  1.478763 -1.630197
2021-11-02  1.171477 -1.050038 -0.323735 -0.451647 -0.195005
2021-11-03 -1.993546  1.478901 -0.392233 -0.425384 -0.608215
                   A         B         C         D         E
2021-11-01 -1.449423 -0.739511  0.183986  1.478763 -1.630197
2021-11-02  1.171477 -1.050038 -0.323735 -0.451647 -0.195005
2021-11-03 -1.993546  1.478901 -0.392233 -0.425384 -0.608215
                   A         B         C         D         E
2021-11-01 -1.449423 -0.739511  0.183986  1.478763 -1.630197
2021-11-02  1.171477 -1.050038 -0.323735 -0.451647 -0.195005
2021-11-03 -1.993546  1.478901 -0.392233 -0.425384 -0.608215

In [7]:
# 使用index/ columns名稱搜尋
# 都會包含最後值
df.loc["20211101"]
df.loc[:, ["A", "B"]]
df.loc["20211101":"20211103", ["A", "B"]]
df.at['20211101', 'A']

-1.449422610890066

In [12]:
# 使用位子搜尋
# Row 3
df.iloc[3]
# 不包含最後
# row 3,4 column 0, 1
df.iloc[3:5, 0:2]
df.iloc[1:3, :]
# Boolean reductions
df > 0
(df > 0).all()
(df > 0).any()

A    True
B    True
C    True
D    True
E    True
dtype: bool

In [18]:
print((df + df).equals(df * 2))

(df + df == df * 2).all() 
# NA 不能比較
np.nan == np.nan 
# Index 順序不一樣
df1 = pd.DataFrame({"col": ["foo", 0, np.nan]})
df2 = pd.DataFrame({"col": [np.nan, 0, "foo"]}, index=[2, 1, 0])
df1.equals(df2)

True

False

In [24]:
# Boolean indexing
df
# df[df['A']> 0]
df[df > 0]

                   A         B         C         D         E
2021-11-01       NaN  0.782561       NaN  0.265621  0.490004
2021-11-02       NaN  0.579355  0.041361  0.859785       NaN
2021-11-03  0.087022  0.721903  1.137253  0.150205  0.464461
2021-11-04       NaN  0.538266       NaN       NaN  0.852948
2021-11-05       NaN       NaN       NaN  1.699386       NaN
2021-11-06  0.365005  0.782791       NaN       NaN  0.852963
2021-11-07  1.208852  0.001799  0.708765  0.875507       NaN
2021-11-08       NaN       NaN  0.328892  0.092038       NaN
2021-11-09       NaN  0.930828       NaN       NaN  0.730792
2021-11-10  2.232223       NaN  1.740762  0.037207  0.962300

In [14]:
df2 = df.copy()
df2['E'] = list('ABCDEABCDD')
df2[df2['E'].isin(list('AB'))]

                   A         B         C         D  E
2021-11-01 -1.449423 -0.739511  0.183986  1.478763  A
2021-11-02  1.171477 -1.050038 -0.323735 -0.451647  B
2021-11-06  0.005468 -0.504986  0.187153  0.076405  A
2021-11-07 -1.323477  1.216647  0.616301  0.749738  B

In [24]:
# Setting
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range("20211102", periods=6))
df['s1'] = s1
df.iat[0, 1] = -1000
# Setting by assigning with a NumPy array:
df.loc[:, "D"] = np.array([10] * len(df))

In [26]:
df1 = df.reindex(index = dates[0:5], columns=list(df.columns))

In [31]:
# 刪除任何含有NA的Row
df1.dropna(axis=0, how="any")
# 刪除任何含有NA的Column
df1.dropna(axis=1, how="any")

                   A            B         C   D         E
2021-11-01 -1.449423 -1000.000000  0.183986  10 -1.630197
2021-11-02  1.171477    -1.050038 -0.323735  10 -0.195005
2021-11-03 -1.993546     1.478901 -0.392233  10 -0.608215
2021-11-04  0.493061    -0.613098  0.078292  10  0.269963
2021-11-05  0.476414    -1.139392  0.812061  10 -0.390519

In [34]:
print(df1)
df1.fillna(value=5)

                   A            B         C   D         E   s1
2021-11-01 -1.449423 -1000.000000  0.183986  10 -1.630197  NaN
2021-11-02  1.171477    -1.050038 -0.323735  10 -0.195005  1.0
2021-11-03 -1.993546     1.478901 -0.392233  10 -0.608215  2.0
2021-11-04  0.493061    -0.613098  0.078292  10  0.269963  3.0
2021-11-05  0.476414    -1.139392  0.812061  10 -0.390519  4.0

                   A            B         C   D         E   s1
2021-11-01 -1.449423 -1000.000000  0.183986  10 -1.630197  5.0
2021-11-02  1.171477    -1.050038 -0.323735  10 -0.195005  1.0
2021-11-03 -1.993546     1.478901 -0.392233  10 -0.608215  2.0
2021-11-04  0.493061    -0.613098  0.078292  10  0.269963  3.0
2021-11-05  0.476414    -1.139392  0.812061  10 -0.390519  4.0

In [36]:
pd.isna(df1)

                A      B      C      D      E     s1
2021-11-01  False  False  False  False  False   True
2021-11-02  False  False  False  False  False  False
2021-11-03  False  False  False  False  False  False
2021-11-04  False  False  False  False  False  False
2021-11-05  False  False  False  False  False  False

In [39]:
# df.assign(ratio = lambda x: x.C / )
df1 = pd.DataFrame(
    dict(
        a=(1 , 1, 0, 1, 0 ), 
        b=(1 , 0, 0, 1, 0 ),
        c=(10, 5, 1, 5, 10),
        d=(3 , 1, 2, 1, 2 ),
    )
)
df1.groupby(['a','b']).transform('sum')['c']

0    15
1     5
2    11
3    15
4    11
Name: c, dtype: int64