In [1]:
import pandas as pd
import numpy as np

In [2]:
# basic
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])

series = df['A']
element = series[5]
# transform (in-place) to a subset of the columns.
df[['A', 'B']]

                   A         B
2000-01-01 -0.049276  0.710236
2000-01-02  0.231658 -0.451514
2000-01-03  0.423668  1.313186
2000-01-04  0.304544  0.523376
2000-01-05 -0.473060  1.260623
2000-01-06 -2.899648 -0.549255
2000-01-07 -0.648472  0.370693
2000-01-08 -1.208729 -1.334653

In [3]:
df[['B', 'A']] = df[['A', 'B']]
df[['A', 'B']]

                   A         B
2000-01-01  0.710236 -0.049276
2000-01-02 -0.451514  0.231658
2000-01-03  1.313186  0.423668
2000-01-04  0.523376  0.304544
2000-01-05  1.260623 -0.473060
2000-01-06 -0.549255 -2.899648
2000-01-07  0.370693 -0.648472
2000-01-08 -1.334653 -1.208729

In [6]:
df.loc[:, ['A', 'B']] = df[['B', 'A']]
df[['A', 'B']]
# df.loc[:, ['B', 'A']]

                   A         B
2000-01-01  0.710236 -0.049276
2000-01-02 -0.451514  0.231658
2000-01-03  1.313186  0.423668
2000-01-04  0.523376  0.304544
2000-01-05  1.260623 -0.473060
2000-01-06 -0.549255 -2.899648
2000-01-07  0.370693 -0.648472
2000-01-08 -1.334653 -1.208729

In [5]:
df1 = df.loc[:, ['B', 'A']]
# df1[['A', 'B']]
df1[['B', 'A']] = df1[['A', 'B']]
df1

                   B         A
2000-01-01  0.710236 -0.049276
2000-01-02 -0.451514  0.231658
2000-01-03  1.313186  0.423668
2000-01-04  0.523376  0.304544
2000-01-05  1.260623 -0.473060
2000-01-06 -0.549255 -2.899648
2000-01-07  0.370693 -0.648472
2000-01-08 -1.334653 -1.208729

In [21]:
# Attribute access
sa = pd.Series([1,2,3], index = list('abc'))
dfa = df.copy()
# dfa.equals(df)
sa
sa.a = 5
sa
dfa.A
dfa.A = list(range(len(dfa.index)))
dfa['A'] = list(range(len(dfa.index)))
dfa['E'] = list(range(len(dfa.index)))
dfa.F = list(range(len(dfa.index)))

C:\Users\powensu\AppData\Local\Temp/ipykernel_24932/2682120494.py:12: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  dfa.F = list(range(len(dfa.index)))

In [25]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
x
# assign a dict to a row of a DataFrame:
x.iloc[1] = {'x': 9, 'y': 99}

In [26]:
df = pd.DataFrame({'one': [1., 2., 3.]})
# df.two = [4, 5, 6]
df

C:\Users\powensu\AppData\Local\Temp/ipykernel_24932/2362078434.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.two = [4, 5, 6]

   one
0  1.0
1  2.0
2  3.0

In [28]:
df['two'] = [4, 5, 6]
df

   one  two
0  1.0    4
1  2.0    5
2  3.0    6

In [29]:
dfl = pd.DataFrame(np.random.randn(5, 4),
                   columns=list('ABCD'),
                   index=pd.date_range('20130101', periods=5))