In [1]:
import pandas as pd
import numpy as np

In [24]:
# basic
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])

series = df['A']
element = series[5]
# transform (in-place) to a subset of the columns.
df[['A', 'B']]

                   A         B
2000-01-01  0.152226 -0.543637
2000-01-02  0.008798 -1.049158
2000-01-03 -0.408148 -0.241208
2000-01-04 -1.605962  1.018340
2000-01-05 -1.251978 -0.073179
2000-01-06 -1.089238 -0.358685
2000-01-07 -0.318508 -0.680561
2000-01-08 -0.408643  1.380505

In [31]:
df[['B', 'A']] = df[['A', 'B']]
df[['A', 'B']]

                   A         B
2000-01-01  0.152226 -0.543637
2000-01-02  0.008798 -1.049158
2000-01-03 -0.408148 -0.241208
2000-01-04 -1.605962  1.018340
2000-01-05 -1.251978 -0.073179
2000-01-06 -1.089238 -0.358685
2000-01-07 -0.318508 -0.680561
2000-01-08 -0.408643  1.380505

In [28]:
df.loc[:, ['A', 'B']] = df[['B', 'A']]
# df[['A', 'B']]
# df.loc[:, ['B', 'A']]

                   A         B
2000-01-01 -0.543637  0.152226
2000-01-02 -1.049158  0.008798
2000-01-03 -0.241208 -0.408148
2000-01-04  1.018340 -1.605962
2000-01-05 -0.073179 -1.251978
2000-01-06 -0.358685 -1.089238
2000-01-07 -0.680561 -0.318508
2000-01-08  1.380505 -0.408643

In [23]:
df1 = df.loc[:, ['B', 'A']]
# df1[['A', 'B']]
df1[['B', 'A']] = df1[['A', 'B']]
df1

                   B         A
2000-01-01  1.298211 -0.516712
2000-01-02 -0.045542 -0.458368
2000-01-03  1.711999  1.179649
2000-01-04  2.085413 -1.479663
2000-01-05  0.012189 -2.779888
2000-01-06 -0.942858  0.740996
2000-01-07 -2.030534  0.451130
2000-01-08  0.060413 -0.096299