In [1]:
import pandas as pd
import numpy as np

In [2]:
# basic
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])

series = df['A']
element = series[5]
# transform (in-place) to a subset of the columns.
df[['A', 'B']]

                   A         B
2000-01-01 -0.419951  0.249641
2000-01-02 -0.699547  1.901109
2000-01-03  0.960481  1.498542
2000-01-04  1.815805  0.678800
2000-01-05  0.130300 -1.576997
2000-01-06  1.109220 -0.197160
2000-01-07 -0.122080  0.410866
2000-01-08  1.163833 -1.685964

In [3]:
df[['B', 'A']] = df[['A', 'B']]
df[['A', 'B']]

                   A         B
2000-01-01  0.249641 -0.419951
2000-01-02  1.901109 -0.699547
2000-01-03  1.498542  0.960481
2000-01-04  0.678800  1.815805
2000-01-05 -1.576997  0.130300
2000-01-06 -0.197160  1.109220
2000-01-07  0.410866 -0.122080
2000-01-08 -1.685964  1.163833

In [4]:
df.loc[:, ['A', 'B']] = df[['B', 'A']]
df[['A', 'B']]
# df.loc[:, ['B', 'A']]

                   A         B
2000-01-01  0.249641 -0.419951
2000-01-02  1.901109 -0.699547
2000-01-03  1.498542  0.960481
2000-01-04  0.678800  1.815805
2000-01-05 -1.576997  0.130300
2000-01-06 -0.197160  1.109220
2000-01-07  0.410866 -0.122080
2000-01-08 -1.685964  1.163833

In [5]:
df1 = df.loc[:, ['B', 'A']]
# df1[['A', 'B']]
df1[['B', 'A']] = df1[['A', 'B']]
df1

                   B         A
2000-01-01  0.249641 -0.419951
2000-01-02  1.901109 -0.699547
2000-01-03  1.498542  0.960481
2000-01-04  0.678800  1.815805
2000-01-05 -1.576997  0.130300
2000-01-06 -0.197160  1.109220
2000-01-07  0.410866 -0.122080
2000-01-08 -1.685964  1.163833

In [6]:
# Attribute access
sa = pd.Series([1,2,3], index = list('abc'))
dfa = df.copy()
# dfa.equals(df)
sa
sa.a = 5
sa
dfa.A
dfa.A = list(range(len(dfa.index)))
dfa['A'] = list(range(len(dfa.index)))
dfa['E'] = list(range(len(dfa.index)))
dfa.F = list(range(len(dfa.index)))

C:\Users\powensu\AppData\Local\Temp/ipykernel_9820/2682120494.py:12: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  dfa.F = list(range(len(dfa.index)))

In [7]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
x
# assign a dict to a row of a DataFrame:
x.iloc[1] = {'x': 9, 'y': 99}

In [8]:
df = pd.DataFrame({'one': [1., 2., 3.]})
# df.two = [4, 5, 6]
df

   one
0  1.0
1  2.0
2  3.0

In [9]:
df['two'] = [4, 5, 6]
df

   one  two
0  1.0    4
1  2.0    5
2  3.0    6

In [17]:
dfl = pd.DataFrame(np.random.randn(5, 4),
                   columns=list('ABCD'),
                   index=pd.date_range('20130101', periods=5))
# dfl.loc[2:3] TypeError                                 
dfl.loc[:, 'A':'C']

                   A         B         C
2013-01-01  0.824803 -0.783703  0.361029
2013-01-02  0.805564 -1.455547 -0.187424
2013-01-03  0.191786  0.484891 -0.380690
2013-01-04  0.756066 -0.594661  1.957661
2013-01-05 -1.128129  0.202303  1.197161

In [13]:
nums = 0
nums == True

False

In [20]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))

df1.loc[['a', 'b', 'd'], :]
df1.loc[['a', 'b', 'd'], "A":"B"]

          A         B
a -0.603430  0.771197
b  0.601354  0.341510
d -1.150065  0.396585