In [1]:
import pandas as pd
import numpy as np

In [2]:
# basic
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])

series = df['A']
element = series[5]
# transform (in-place) to a subset of the columns.
df[['A', 'B']]

                   A         B
2000-01-01 -0.569944  1.652495
2000-01-02  1.746240 -1.304518
2000-01-03  0.810121  0.838290
2000-01-04 -0.400690 -0.298716
2000-01-05  0.677673 -0.302476
2000-01-06 -0.291940 -1.702470
2000-01-07 -0.379585 -0.565822
2000-01-08  1.376698 -1.219646

In [3]:
df[['B', 'A']] = df[['A', 'B']]
df[['A', 'B']]

                   A         B
2000-01-01  1.652495 -0.569944
2000-01-02 -1.304518  1.746240
2000-01-03  0.838290  0.810121
2000-01-04 -0.298716 -0.400690
2000-01-05 -0.302476  0.677673
2000-01-06 -1.702470 -0.291940
2000-01-07 -0.565822 -0.379585
2000-01-08 -1.219646  1.376698

In [4]:
df.loc[:, ['A', 'B']] = df[['B', 'A']]
df[['A', 'B']]
# df.loc[:, ['B', 'A']]

                   A         B
2000-01-01  1.652495 -0.569944
2000-01-02 -1.304518  1.746240
2000-01-03  0.838290  0.810121
2000-01-04 -0.298716 -0.400690
2000-01-05 -0.302476  0.677673
2000-01-06 -1.702470 -0.291940
2000-01-07 -0.565822 -0.379585
2000-01-08 -1.219646  1.376698

In [5]:
df1 = df.loc[:, ['B', 'A']]
# df1[['A', 'B']]
df1[['B', 'A']] = df1[['A', 'B']]
df1

                   B         A
2000-01-01  1.652495 -0.569944
2000-01-02 -1.304518  1.746240
2000-01-03  0.838290  0.810121
2000-01-04 -0.298716 -0.400690
2000-01-05 -0.302476  0.677673
2000-01-06 -1.702470 -0.291940
2000-01-07 -0.565822 -0.379585
2000-01-08 -1.219646  1.376698

In [6]:
# Attribute access
sa = pd.Series([1,2,3], index = list('abc'))
dfa = df.copy()
# dfa.equals(df)
sa
sa.a = 5
sa
dfa.A
dfa.A = list(range(len(dfa.index)))
dfa['A'] = list(range(len(dfa.index)))
dfa['E'] = list(range(len(dfa.index)))
dfa.F = list(range(len(dfa.index)))

<ipython-input-6-149f4d66cc06>:12: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  dfa.F = list(range(len(dfa.index)))

In [7]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
x
# assign a dict to a row of a DataFrame:
x.iloc[1] = {'x': 9, 'y': 99}

In [8]:
df = pd.DataFrame({'one': [1., 2., 3.]})
# df.two = [4, 5, 6]
df

   one
0  1.0
1  2.0
2  3.0

In [9]:
df['two'] = [4, 5, 6]
df

   one  two
0  1.0    4
1  2.0    5
2  3.0    6

In [10]:
dfl = pd.DataFrame(np.random.randn(5, 4),
                   columns=list('ABCD'),
                   index=pd.date_range('20130101', periods=5))
# dfl.loc[2:3] TypeError                                 
dfl.loc[:, 'A':'C']

                   A         B         C
2013-01-01 -0.348517 -0.088686  0.527325
2013-01-02  0.339196 -1.965757  0.814607
2013-01-03 -0.581256  0.224655 -0.888163
2013-01-04  1.114959 -0.481359 -0.477363
2013-01-05 -0.342222 -1.812650  0.530914

In [11]:
nums = 0
nums == True

False

In [12]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))

df1.loc[['a', 'b', 'd'], :]
df1.loc[['a', 'b', 'd'], "A":"B"]

          A         B
a  0.098274 -0.773011
b -0.673225 -1.351397
d -0.922172 -0.928251

In [17]:
df1.loc['a']
df1.loc['a'] > 0 
df1.loc[:, df1.loc['a'] > 0]
df1[df1['A'] > 0]

          A         B         C         D
a  0.098274 -0.773011 -0.160334  0.388465
e  0.191280  0.161090  0.053991 -0.699339

In [19]:
# NA values in a boolean array propagate as False:
mask = pd.array([True, False, True, False, pd.NA, False], dtype="boolean")
df1[mask]

          A         B         C         D
a  0.098274 -0.773011 -0.160334  0.388465
c -0.174470 -1.455906 -1.557654 -1.104648

In [26]:
# Slicing with labels
s = pd.Series(list('abcde'), index=[0, 3, 2, 5, 4])
# 3 2 5 都會抓取
s.loc[3:5]
# 缺 index 6 不能選取
# s.loc[3:6]
s.sort_index().loc[3:5]

3    b
4    e
5    d
dtype: object

In [28]:
# Selection by position
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list(range(0, 12, 2)),
                   columns=list(range(0, 8, 2)))

# iloc

In [30]:
# 超出範圍選取不會出錯
x = list('abcdef')
x[len(x)-1:100]

['f']