In [1]:
import pandas as pd
import numpy as np

In [2]:
# basic
dates = pd.date_range('1/1/2000', periods=8)

df = pd.DataFrame(np.random.randn(8, 4),
                  index=dates, columns=['A', 'B', 'C', 'D'])

series = df['A']
element = series[5]
# transform (in-place) to a subset of the columns.
df[['A', 'B']]

                   A         B
2000-01-01 -1.731580  1.908456
2000-01-02 -0.534352 -0.298282
2000-01-03  0.401062  0.682558
2000-01-04 -1.586663 -0.839466
2000-01-05 -1.230225 -0.193552
2000-01-06 -1.780080 -0.155407
2000-01-07 -0.940034 -2.634307
2000-01-08 -0.582738 -1.525571

In [3]:
df[['B', 'A']] = df[['A', 'B']]
df[['A', 'B']]

                   A         B
2000-01-01  1.908456 -1.731580
2000-01-02 -0.298282 -0.534352
2000-01-03  0.682558  0.401062
2000-01-04 -0.839466 -1.586663
2000-01-05 -0.193552 -1.230225
2000-01-06 -0.155407 -1.780080
2000-01-07 -2.634307 -0.940034
2000-01-08 -1.525571 -0.582738

In [4]:
df.loc[:, ['A', 'B']] = df[['B', 'A']]
df[['A', 'B']]
# df.loc[:, ['B', 'A']]

                   A         B
2000-01-01  1.908456 -1.731580
2000-01-02 -0.298282 -0.534352
2000-01-03  0.682558  0.401062
2000-01-04 -0.839466 -1.586663
2000-01-05 -0.193552 -1.230225
2000-01-06 -0.155407 -1.780080
2000-01-07 -2.634307 -0.940034
2000-01-08 -1.525571 -0.582738

In [5]:
df1 = df.loc[:, ['B', 'A']]
# df1[['A', 'B']]
df1[['B', 'A']] = df1[['A', 'B']]
df1

                   B         A
2000-01-01  1.908456 -1.731580
2000-01-02 -0.298282 -0.534352
2000-01-03  0.682558  0.401062
2000-01-04 -0.839466 -1.586663
2000-01-05 -0.193552 -1.230225
2000-01-06 -0.155407 -1.780080
2000-01-07 -2.634307 -0.940034
2000-01-08 -1.525571 -0.582738

In [6]:
# Attribute access
sa = pd.Series([1,2,3], index = list('abc'))
dfa = df.copy()
# dfa.equals(df)
sa
sa.a = 5
sa
dfa.A
dfa.A = list(range(len(dfa.index)))
dfa['A'] = list(range(len(dfa.index)))
dfa['E'] = list(range(len(dfa.index)))
dfa.F = list(range(len(dfa.index)))

<ipython-input-6-149f4d66cc06>:12: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  dfa.F = list(range(len(dfa.index)))

In [7]:
x = pd.DataFrame({'x': [1, 2, 3], 'y': [3, 4, 5]})
x
# assign a dict to a row of a DataFrame:
x.iloc[1] = {'x': 9, 'y': 99}

In [8]:
df = pd.DataFrame({'one': [1., 2., 3.]})
# df.two = [4, 5, 6]
df

   one
0  1.0
1  2.0
2  3.0

In [9]:
df['two'] = [4, 5, 6]
df

   one  two
0  1.0    4
1  2.0    5
2  3.0    6

In [10]:
dfl = pd.DataFrame(np.random.randn(5, 4),
                   columns=list('ABCD'),
                   index=pd.date_range('20130101', periods=5))
# dfl.loc[2:3] TypeError                                 
dfl.loc[:, 'A':'C']

                   A         B         C
2013-01-01  1.570350 -0.086714  0.451680
2013-01-02 -2.361423  0.034674  0.840810
2013-01-03  1.659623  0.386419 -0.623922
2013-01-04  0.664184 -0.093347  0.786319
2013-01-05  0.280737  0.870650  1.202728

In [11]:
nums = 0
nums == True

False

In [12]:
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))

df1.loc[['a', 'b', 'd'], :]
df1.loc[['a', 'b', 'd'], "A":"B"]

          A         B
a  0.430310  0.001857
b -0.540793  0.455542
d  0.124678 -0.699210

In [13]:
df1.loc['a']
df1.loc['a'] > 0 
df1.loc[:, df1.loc['a'] > 0]
df1[df1['A'] > 0]

          A         B         C         D
a  0.430310  0.001857 -1.529820  1.319653
d  0.124678 -0.699210 -1.649156 -0.188034

In [14]:
# NA values in a boolean array propagate as False:
mask = pd.array([True, False, True, False, pd.NA, False], dtype="boolean")
df1[mask]

          A         B         C         D
a  0.430310  0.001857 -1.529820  1.319653
c -0.639992 -0.732235 -0.909051  2.851421

In [15]:
# Slicing with labels
s = pd.Series(list('abcde'), index=[0, 3, 2, 5, 4])
# 3 2 5 都會抓取
s.loc[3:5]
# 缺 index 6 不能選取
# s.loc[3:6]
s.sort_index().loc[3:5]

3    b
4    e
5    d
dtype: object

In [16]:
# Selection by position
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list(range(0, 12, 2)),
                   columns=list(range(0, 8, 2)))

# iloc

In [19]:
# 超出範圍選取不會出錯
x = list('abcdef')
x[len(x)-1:100]
s = pd.Series(x)
s

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [21]:
s.iloc[4:100]

4    e
5    f
dtype: object

In [23]:
s.iloc[100:102]

Series([], dtype: object)

In [25]:
# Note that using slices that go out of bounds 
# can result in an empty axis (e.g. an empty DataFrame being returned).
# 注意iloc 使用slice (0:n)超出index / column 邊界一樣會反回(但是會是空的dataframe)
dfl = pd.DataFrame(np.random.randn(5, 2), columns=list('AB'))
dfl.iloc[:, 2:3] # 只有0/1 選取2 返回空直

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4]

In [26]:
dfl.iloc[:, 1:3]

          B
0  1.691436
1 -0.386451
2 -1.097036
3  0.451103
4 -2.560872

In [28]:
dfl.iloc[[4]]

          A         B
4  0.922693 -2.560872

In [30]:
# A single indexer that is out of bounds will raise an IndexError
dfl.iloc[[20]]

IndexError: positional indexers are out-of-bounds

In [31]:
# Selection by callable
# .loc, .iloc, and also [] indexing can accept a callable as indexer. 
# The callable must be a function with one argument (the calling Series or DataFrame) that 
# returns valid output for indexing.
df1 = pd.DataFrame(np.random.randn(6, 4),
                   index=list('abcdef'),
                   columns=list('ABCD'))

df1

          A         B         C         D
a  0.475032  1.121304 -0.476125 -0.096643
b  0.288428  0.431158  0.541334  0.216068
c -0.599180 -0.884716 -0.127870  0.995766
d -0.778498 -0.147440 -0.769521 -0.204665
e -0.338545  0.717220 -0.647141 -0.163309
f -1.678526 -0.240604 -1.503622  2.379985

In [32]:
df1.loc[lambda df: df['A'] > 0, :]

          A         B         C         D
a  0.475032  1.121304 -0.476125 -0.096643
b  0.288428  0.431158  0.541334  0.216068

In [34]:
df1[df1['A'] > 0]

          A         B         C         D
a  0.475032  1.121304 -0.476125 -0.096643
b  0.288428  0.431158  0.541334  0.216068

In [39]:
df1.groupby(['A']).sum()

                  B         C         D
A
-1.678526 -0.240604 -1.503622  2.379985
-0.778498 -0.147440 -0.769521 -0.204665
-0.599180 -0.884716 -0.127870  0.995766
-0.338545  0.717220 -0.647141 -0.163309
 0.288428  0.431158  0.541334  0.216068
 0.475032  1.121304 -0.476125 -0.096643